

<img src={{this.image}}>
<h2>{{this.title}}</h2> 
<p>Category: {{this.category}}</p>
<p>Description: {{this.description}}</p>
<p>Address: {{this.address}}</p>
<ul>Coordinates
    <li>lat: {{this.coordinates.lat}}</li>
    <li>lng: {{this.coordinates.lng}}</li>
</ul>

<p>Website: {{this.url}}</p>
<p>Additional information: {{this.details}}</p>