<div class="container">
    <h1 class="is-size-3 has-text-centered">Your Points of Interest</h1>
</div>

{{#unless userPois}}
<section class="hero is-fullheight">
    <div class="columns is-centered is-vcentered">
        <div class="column is-one-third ">
            <div class="box">
                <h2 class="is-size-4 has-text-centered">Add your own Points of Interest !</h2>
                <h3 class="is-size-6 has-text-centered">By clicking <b>Add a POI</b> in the nav bar, you can add
                    friends, museums or restaurant so you find them along the way</h3>
            </div>
        </div>
    </div>
</section>
{{/unless}}

<div class="section">
    <div class="columns is-multiline">
        {{#each userPois}}
        <div class="column is-one-quarter" data-poi="{{this._id}}">
            <div class="card card-full-height">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{this.image}}" alt="{{this.title}}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2>{{this.title}}</h2>
                        <div class="tags">
                            <span class="tag">{{this.category}}</span>
                        </div>
                        <p>{{this.description}}</p>
                        <p>{{this.address}}</p>
                    </div>

                    

                        <!--<div class="level-left">
                            <div class="tags">
                                <span class="tag">{{this.category}}</span>
                            </div>
                        </div>-->
                    <nav class="level">
                        <div class="level-right">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a href="/user/poi/edit/{{../idUser}}/{{this._id}}"
                                        class="button is-outlined is-small">Edit</a>
                                </p>
                                <p class="control">
                                    <button class="button is-outlined is-small is-danger delete-poi-btn"
                                        data-user="{{../idUser}}" data-poi="{{this._id}}">Delete</button>
                                </p>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>