<div class="container">
    <h1 class="is-size-3 has-text-centered">List of your Points of Interest</h1>
</div>

<div class="section">
    <div class="columns">
        {{#each userPois}}
        <div class="column is-one-quarter">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{this.image}}" alt="{{this.title}}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2>{{this.title}}</h2>
                        <p>{{this.description}}</p>
                        <p>{{this.address}}</p>
                    </div>

                    <nav class="level">

                        <div class="level-left">
                            <div class="tags">
                                <span class="tag">{{this.category}}</span>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a href="/user/poi/edit/{{../idUser}}/{{this._id}}"
                                        class="button is-outlined is-small">Edit</a>
                                </p>
                                <p class="control">
                                    <a href="/user/poi/delete/{{../idUser}}/{{this._id}}"
                                        class="button is-outlined is-small is-danger">Delete</a>
                                </p>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>