<h1>List of your Point of Interests</h1>

<div>

    <br>
    <br>
    {{#if isMultiple}}
    <a href="/user/poi/new/{{idUser}}"><button>Create new POI</button></a>
    {{/if}}
    <br>
    <br>

    {{#each userPois}}

    {{#unless ../isMultiple}}
    <a href="/user/poi/all/{{../idUser}}"><button>Back to list of my POI</button></a>
    <br>
    <br>
    {{/unless}}
    {{>poi_item}}
    <br>
    <a href="/user/poi/edit/{{../idUser}}/{{this._id}}"><button>Edit POI</button></a>
    <br>
    <a href="/user/poi/delete/{{../idUser}}/{{this._id}}"><button>Delete POI</button></a>
    <br>
    <br>
    {{#if ../isMultiple}}
    <a href="/user/poi/{{../idUser}}/{{this._id}}">view more...</a>
    {{/if}}
    <br>
    <br>
    <br>
    {{/each}}

</div>

